<!DOCTYPE html>

<html lang="{{ .Site.LanguageCode }}">

<head>
    {{/* Metadata */}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ block "title" . }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
    {{ with .Site.Params.logo }}<link rel="icon" href="{{ . }}">{{ end }}
    {{ with .Site.Author.name }}<meta name="author" content="{{ . }}">{{ end }}

    {{ with .Keywords }}<meta name="keywords" content={{ delimit . "," }}>{{ end }}
    <meta name="description" content="{{ block "description" . }}
      {{ with .Description }}{{ . }}{{ end }}
    {{ end }}">

    {{/* Styles */}}
    <link rel="stylesheet" href="/styles/base.css">

    {{ block "styles" . }}{{ end }}

    {{/* Fonts */}}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu">               {{/* Text */}}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Audiowide">            {{/* Headings */}}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@600">   {{/* Code */}}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@1,400"> {{/* Italics */}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> {{/* Icons */}}
</head>

<body>
    {{/* Left navigation */}}
    <button id="header-trigger" class="link-button"
            onclick="document.querySelector('header').removeAttribute('style')">
        <img src="{{ .Site.Params.logo }}"/>
    </button>
    <header style="transform:translateX(-100%)">
        <a id="home-link" href="/"><img src="{{ .Site.Params.logo }}"/></a>
        {{ with .Site.GetPage "overview" }}
            <a id="header-overview" href="{{ .Permalink }}">{{ .Title }}</a>
        {{ end }}
        {{ partial "header-section" .Site.Sections }}
        <button class="link-button"
                onclick="this.parentNode.setAttribute('style','transform:translateX(-100%)');">
            Cerrar
        </button>
    </header>

    {{/* Just used by index.html to put a canvas */}}
    {{ block "intro" . }}{{ end }}

    <main>{{ block "main" . }}{{ end }}</main>

    <footer>
        {{ .Site.Params.footer_content | markdownify }}
        <p>Última actualización: {{ now.Format "02/01/2006" }}</p>
        {{ partial "social-media" . }}
    </footer>

    {{ block "scripts" . }}{{ end }}
</body>

</html>
