<!DOCTYPE html>

<html lang="{{ .Site.LanguageCode }}">

<head>
    {{/* Metadata */}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ with .Site.Author.name }}<meta name="author" content="{{ . }}">{{ end }}
    {{ with .Site.Params.logo }}<link rel="icon" href="{{ . }}">{{ end }}

    <title>{{ block "title" . }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ block "description" . }}
      {{- with .Description }}{{ . }}{{ end -}}
    {{ end }}">

    {{/* Styles */}}
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" media="{{ .Site.Params.mobile_query }}" href="/styles/base-mobile.css">
    <link rel="stylesheet" media="{{ .Site.Params.desktop_query }}" href="/styles/base-desktop.css">

    {{ block "styles" . }}{{ end }}

    {{/* Fonts */}}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu">               {{/* Text */}}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Audiowide">            {{/* Headings */}}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@600">   {{/* Code */}}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@1,400"> {{/* Italics */}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> {{/* Icons */}}
</head>

<body>
    {{/* Just used by index.html to put a canvas */}}
    {{ block "intro" . }}{{ end }}

    <header>
        <a id="home-link" href="/"><img src="{{ .Site.Params.logo }}"/></a>
        {{ partial "span-sections" .Site.Sections }}
    </header>

    {{/* Main section: extend with all the content */}}
    <main>{{ block "main" . }}{{ end }}</main>

    <footer>
        <h3 id="author">{{ .Site.Title }}</h3>
        <p id="copyright">2021-{{ now.Year }} {{ .Site.Author.name }}</p>
        {{ partial "social-media" . }}
    </footer>

    {{ block "scripts" . }}{{ end }}
</body>

</html>
