{{ define "main" }}
    <h1 class="main-title">{{ .Title }}</h1>
    {{ with .Parent }}<a class="link-button" href="{{ .Permalink }}">Volver a {{ .Title }}</a>{{ end }}
    {{ if not .RegularPages }}
        {{ with .Sections }}
            <nav>
                {{ range .ByTitle }}
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                {{ end }}
            </nav>
        {{ end }}
    {{ end }}

    {{ with .Page.Content }}
        <article>{{ . }}</article>
    {{ end }}

    {{ if .RegularPages }}
        {{ if .Params.content_title }}<h1>Contenido</h1>{{ end }}

        {{ with .Sections }}
            <nav>
                {{ range .ByTitle }}
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                {{ end }}
            </nav>
        {{ end }}

        {{ range .RegularPages.ByWeight }}
            {{ partial "page-entry" . }}
        {{ end }}
    {{ end }}
{{ end }}
