{{ define "styles" }}
    {{ if .Params.math }}
        {{ partial "latex" }}
    {{ end }}
{{ end }}

{{ define "scripts" }}
    {{ if .Params.mermaid }}
        <script type="module">
            import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
            mermaid.initialize({ startOnLoad: true, theme: 'dark' });
        </script>
    {{ end }}
{{ end }}

{{ define "main" }}
    <h1 class="main-title">{{ .Title }}</h1>
    {{ with .Description }}<p>{{ . | markdownify }}</p>{{ end }}
    {{ if or (not (isset .Params "toc")) (.Params.toc) }}{{ .TableOfContents }}{{ end }}

    <article>
      {{ .Content }}
    </article>

    <div class="prev-next">
      {{ with .NextInSection }}<a class="link-button" style="background-color: #c33" href="{{ .Permalink }}">Anterior: {{ .Title }}</a>{{ end }}
      {{ with .Parent }}<a class="link-button" href="{{ .Permalink }}">Volver a {{ .Title }}</a>{{ end }}
      {{ with .PrevInSection }}<a class="link-button" style="background-color: #5d5" href="{{ .Permalink }}">Siguiente: {{ .Title }}</a>{{ end }}
    </div>
{{ end }}
