{{ define "styles" }}
    <link rel="stylesheet" href="/styles/post.css">
{{ end }}

{{ define "main" }}
    <h1 class="main-title">{{ .Title }}</h1>

    {{ .TableOfContents }}

    <article>
      {{ .Content }}
    </article>
{{ end }}



{{ define "scripts" }}
<script>
    console.log('LUL');
    // TODO: Useless now:
    var coll = document.getElementsByClassName("bu-colap");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;

            if (content.style.display === "define") {
                content.style.display = "none";
            } else {
                content.style.display = "define";
            }
        });
    }
</script>
{{ end }}
