{{/* From: https://katex.org/docs/autorender.html, https://katex.org/docs/browser.html */}}

{{/* KaTeX requires CSS */}}
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/katex@0.16.19/dist/katex.min.css"
    integrity="sha384-7lU0muIg/i1plk7MgygDUp3/bNRA65orrBub4/OSWHECgwEsY83HaS1x3bljA/XV"
    crossorigin="anonymous">

{{/* Actual KaTeX Javascript */}}
<script
    defer
    src="https://cdn.jsdelivr.net/npm/katex@0.16.19/dist/katex.min.js"
    integrity="sha384-RdymN7NRJ+XoyeRY4185zXaxq9QWOOx3O7beyyrRK4KQZrPlCDQQpCu95FoCGPAE"
    crossorigin="anonymous">
</script>

{{/* KaTeX auto-render extension */}}
<script
    defer
    src="https://cdn.jsdelivr.net/npm/katex@0.16.19/dist/contrib/auto-render.min.js"
    integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh"
    crossorigin="anonymous"
    onload="renderMathInElement(document.body);">
</script>

{{/* KaTeX copy-tex extension */}}
<script
    defer
    src="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/contrib/copy-tex.min.js"
    integrity="sha384-HORx6nWi8j5/mYA+y57/9/CZc5z8HnEw4WUZWy5yOn9ToKBv1l58vJaufFAn9Zzi"
    crossorigin="anonymous">
</script>

{{/* Inline equations */}}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
            delimiters: [
                {left: "$$",  right: "$$",  display: true},
                {left: "$",   right: "$",   display: false}
            ]
        });

        // Render math inside elements (don't require "$")
        /* for (e of document.getElementsByClassName("math")) {
            katex.render(e.textContent, e, {
                throwOnError: false,
                displayMode: e.classList.contains("display"),
            });
        } */
    });
</script>

