<div class="box-list">
<a class="fa fa-envelope" href="mailto:marcosgranja317@gmail.com"                          style="background-color: #BB001B;"></a>
<a class="fa fa-linkedin" href="https://www.linkedin.com/in/magno-el-magnífico-7b3a58205/" style="background-color: #0077b5;"></a>
<a class="fa fa-twitter"  href="https://twitter.com/_MagnoMagnifico"                       style="background-color: #1da1f2;"></a>
<a class="fa fa-github"   href="https://github.com/MagnoElMagnifico"                       style="background-color: #111111;"></a>
<a class="fa fa-youtube"  href="https://www.youtube.com/channel/UCM_L8nAc0UPtJWxNnqXKwEw"  style="background-color: #ff0000;"></a>
<a class="fa fa-twitch"   href="https://www.twitch.tv/magnoelmagnifico"                    style="background-color: #6441a5;"></a>

{{/*
<a class="fa fa-instagram"
href="https://www.instagram.com/magnoelmagnifico/"
style="background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);">
</a>
<a class="fa fa-reddit"
href="https://www.reddit.com/user/MagnoGG"
style="background-color: #FF4301;">
</a>
*/}}
</div>
