{{ define "title" }}
    Not found - {{ .Site.Title }}
{{ end }}

{{ define "styles" }}
    <style>
        body { height: 100%; }

        #not-found {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -60%);
            text-align: center;
        }

        #not-found h2 {
            margin: 0 0 0.7rem 0;
        }

        footer {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: fit-content;
        }
    </style>
{{ end }}

{{ define "main" }}
    <div id="not-found">
        <h1 class="main-title">404</h1>
        <h2>Aquí no hay nada</h2>
        <a href="javascript:history.back()">Volver</a>
    </div>
{{ end }}
