{% extends "base.html" %}

{% block head %}
<title>Not found - {{ config.title }}</title>
<style>
    html, body {
        height: 100%;
    }
    footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    }
    @media screen and (max-height: 500px) {
        footer {
            display: none;
        }
    }
    #not-found {
        margin: 30vmin 0 30vmin 0;
        text-align: center;
    }
    #not-found h2 {
        margin: 0 0 10px 0;
    }
</style>
{% endblock %}
{% block before_content %}
<div id="not-found">
    <h1 class="main-title">404</h1>
    <h2>There is nothing to see here</h2>
    <a href="{{ config.base_url }}">Go back</a>
</div>
{%endblock%}
