<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/logo.png">
    {% block head %} {% endblock %}
</head>

<body>
    <!-- <header>{% block header %} {% endblock %}</header> -->
    {% block before_content %} {% endblock %}
    <div class="content">
        {% block content %} {% endblock %}
    </div>
    <footer>
        <h3>{{ config.title }}</h3>
        <p id="copyright">&#169;2021 - {{ config.extra.author }}</p>
        <div class="social-media">
            <a class="fa fa-envelope" href="mailto:marcosgranja317@gmail.com" style="background-color: blue;"></a>
            <a class="fa fa-youtube" href="https://www.example.com" style="background-color: red;"></a>
            <a class="fa fa-instagram" href="https://www.example.com" style="background-color: purple;"></a>
            <a class="fa fa-linkedin" href="https://www.example.com" style="background-color: lightblue;"></a>
            <a class="fa fa-github" href="https://www.example.com" style="background-color: grey;"></a>
            <a class="fa fa-reddit" href="https://www.example.com" style="background-color: orange;"></a>
        </div>
        <!-- TODO?: Adress (https://www.w3schools.com/TAgs/tag_address.asp) -->
    </footer>
</body>

</html>
