{% extends "base.html" %}

{% block head %}
<title>{{ config.title }}</title>
<link rel="stylesheet" href="/styles/index.css">
{% endblock head %}

{% block before_content %}
<canvas id="matrix-animation"></canvas>
<div id="start">
    <img src="/logo.png" id="blog-logo" />
    <h1 id="blog-title">{{ config.title }}</h1>
    <p id="blog-description">{{ config.description }}</p>
</div>
{% endblock before_content %}

{% block content %}
<h2>About me</h2>
<div id="about">
    <img src="/logo.png" id="about-img" />
    <div>
        <p>{{ config.extra.about }}</p>
        {{ macros::social_media() }}
    </div>
</div>

<h2>Portfolio</h2>
<div id="portfolio">
    {% for project in config.extra.projects %}
    <div class="project">
        <a href="{{ project.1 }}">
            <h3>{{ project.0 }}</h3>
            <p>{{ project.2 }}</p>
        </a>
    </div>
    {% endfor %}
</div>

<div id="blog">
    {{ macros::categories(cat=section.subsections) }}

    <!-- TODO: Currently showing everything, just show the recent posts -->
    <h2>Recent posts</h2>
    {% for subsection_path in section.subsections %}
        {% set subsection = get_section(path=subsection_path) %}

        <h3><a href="{{ subsection.permalink | safe }}">{{ subsection.title }}</a></h3>
        <p>{{ subsection.description }}</p>
        {{ subsection.content | safe }}

        {% for subpage in subsection.pages %}
            {{ macros::preview_page(page=subpage) }}
        {% endfor %}
    {% endfor %}
</div>

<script src="/animations-js/matrix-animation.js"></script>
{% endblock content %}
