{% extends "base.html" %}



{% block head %}
    <title>{{ config.title }}</title>
    <link rel="stylesheet" href="/styles/index.css">
    {% if section.description %}
        <meta name="description" content="{{ section.description }}">
    {% endif %}
{% endblock %}



{% block before_content %}
    {### ANIMATION ###}
    <canvas id="animation"></canvas>
    <div id="start">
        <img src="{{ config.extra.logo }}" id="blog-logo" />
        <h1 id="blog-title">{{ config.title }}</h1>
        {% if section.description %}
            <p id="blog-description">{{ section.description }}</p>
        {% endif %}
    </div>
{% endblock %}



{% block content %}
    {### ABOUT ###}
    {% if section.extra.about and section.extra.about_img %}
        <h1>whoami</h1>
        <div id="about">
            <img src="{{ section.extra.about_img }}" id="about-img" />
            <div>
                <p>{{ section.extra.about }}</p>
                {{ macros::social_media() }}
            </div>
        </div>
    {% endif %}


    {### PORTFOLIO ###}
    {% if section.extra.projects %}
        <h1>ls -lhA ~/proyectos</h1>
        <div id="portfolio">
            {% for project in section.extra.projects %}

                <div class="project">
                    <a href="{{ project.link }}">
                        <h3>{{ project.name }}</h3>
                        <p>{{ project.description }}</p>
                    </a>
                </div>

            {% endfor %}
        </div>
    {% endif %}


    {### BLOG ###}
    {% if section.pages or section.subsections %}
        <h1>git log -n 10</h1>
        <div id="blog">
            {{ macros::categories(cat=config.extra.header_sections) }}
            {# TODO: {{ index_macros::generate_pages(sec=section) }} #}
        </div>
    {% endif %}
{% endblock %}



{% block scripts %}
    <script src="/js/matrix-animation.js"></script>
{% endblock %}
