{% extends "base.html" %}

{% block head %}
<title>{{ config.title }}</title>
<link rel="stylesheet" href="/styles/index.css">
{% endblock head %}

{% block before_content %}
<canvas id="matrix-animation"></canvas>
<div id="start">
    <img src="/logo.png" id="blog-logo" />
    <h1 id="blog-title">{{ config.title }}</h1>
    <p id="blog-description">{{ config.description }}</p>
</div>
{% endblock before_content %}

{% block content %}
<h2>About me</h2>
<div id="about">
    <img src="/logo.png" id="about-img" />
    <div>
        <p>{{ config.extra.about }}</p>
        <div class="social-media">
            <a class="fa fa-youtube" href="https://www.example.com" style="background-color: red;"></a>
            <a class="fa fa-instagram" href="https://www.example.com" style="background-color: purple;"></a>
            <a class="fa fa-linkedin" href="https://www.example.com" style="background-color: lightblue;"></a>
            <a class="fa fa-github" href="https://www.example.com" style="background-color: grey;"></a>
            <a class="fa fa-reddit" href="https://www.example.com" style="background-color: orange;"></a>
        </div>
    </div>
</div>
<h2>Portfolio</h2>
<div id="portfolio">
    {% for project in config.extra.projects %}
    <div class="project">
        <a href="{{ project.1 }}">
            <h3>{{ project.0 }}</h3>
            <p>{{ project.2 }}</p>
        </a>
    </div>
    {% endfor %}
</div>
<div id="blog">
    <h2 id="recent-title">Recent posts</h2>
    <div id="recent">
        <h3>Post title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Enim ut tellus elementum sagittis
            vitae et leo duis. Odio tempor orci dapibus ultrices in iaculis. Massa massa
            ultricies mi quis hendrerit dolor. Cursus euismod quis viverra nibh cras pulvinar.</p>
    </div>
    <h2 id="categories-title">Categories</h2>
    <div id="categories">
        <ul>
            {% for category in section.subsections %}
            {% set category_title = category | trim_end_matches(pat="/_index.md") %}
            <li><a href="/{{ category_title }}">{{ category_title | title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<script src="/animations-js/matrix-animation.js"></script>
{% endblock content %}
