{% macro generate_about(about, about_img) %}
<h1>About me</h1>
<div id="about">
    <img src="{{ about_img }}" id="about-img" />
    <div>
        <p>{{ about }}</p>
        {{ macros::social_media() }}
    </div>
</div>
{% endmacro %}

{% macro generate_projects(projects) %}
<h1>Portfolio</h1>
<div id="portfolio">
    {% for project in projects %}
    <div class="project">
        <a href="{{ project.1 }}">
            <h3>{{ project.0 }}</h3>
            <p class="no-indent">{{ project.2 }}</p>
        </a>
    </div>
    {% endfor %}
</div>
{% endmacro %}
