{% macro social_media() %}
<div class="box-list">
    <a class="fa fa-envelope" href="mailto:marcosgranja317@gmail.com" style="background-color: blue;"></a>
    <a class="fa fa-youtube" href="https://www.example.com" style="background-color: red;"></a>
    <a class="fa fa-instagram" href="https://www.example.com" style="background-color: purple;"></a>
    <a class="fa fa-linkedin" href="https://www.example.com" style="background-color: lightblue;"></a>
    <a class="fa fa-github" href="https://www.example.com" style="background-color: grey;"></a>
    <a class="fa fa-reddit" href="https://www.example.com" style="background-color: orange;"></a>
</div>
{% endmacro %}

{% macro categories(cat) %}
{% set delta_saturation = cat | length %}
{% if delta_saturation > 0 %}
<div class="box-list">
    {% set delta_saturation = 360 / delta_saturation %}
    {% set counter = 0 %}

    {% for category in cat %}
        {% set path = category | trim_end_matches(pat = "/_index.md") %}
        <a href="/{{ path }}" style="background-color: hsl({{ counter * delta_saturation }}, 100%, 50%);">{{ path | title }}</a>
        {% set_global counter = counter + 1 %}
    {% endfor %}
</div>
{% endif %}
{% endmacro %}
