{% extends "base.html" %}

{% block head %}
<title>{{ page.title }} - {{ config.title }}</title>
<link rel="stylesheet" href="/styles/post.css">
{% endblock head %}

{% block before_content %}
{{ macros::header(list=config.extra.header_sections) }}
{% endblock before_content %}

{% block content %}
<h1 class="main-title">{{ page.title }}</h1>
{% if page.extra.show_details %}
    {% if page.date %}
        <h2 class="details">Posted: {{ page.date }} {% if page.updated %} - Updated: {{ page.updated }}{% endif %}</h2>
    {% endif %}
    <h2 class="details">Word count: {{ page.word_count }} ({{ page.reading_time }}mins)</h2>
{% endif %}

{{ macros::toc(page=page) }}

{{ page.content | safe }}
{% endblock content %}
