{% extends "base.html" %}

{% block head %}
<title>{{ page.title }} - {{ config.title }}</title>
<link rel="stylesheet" href="/styles/post.css">
{% if section.description %}
    <meta name="description" content="{{ section.description }}">
{% endif %}
{% endblock head %}

{% block before_content %}
{{ macros::header(list=config.extra.header_sections, logo=config.extra.logo) }}
{% endblock before_content %}

{% block content %}
<h1 class="main-title">{{ page.title }}</h1>
{{ macros::info(page=page, max_level=3)}}
{{ page.content | safe }}
{% endblock content %}

{% block scripts %}
<script>
    var coll = document.getElementsByClassName("bu-colap");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;

            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>
{% endblock scripts %}
