{% extends "base.html" %}

{% block head %}
<title>{{ section.title }} - {{ config.title }}</title>
<style>
    p {
        text-indent: var(--indent);
    }
</style>
{% endblock head %}

{% block before_content %}
{{ macros::header(list=config.extra.header_sections) }}
{% endblock before_content %}

{% block content %}
<h1 class="main-title">{{ section.title }}</h1>
{{ macros::categories(cat=section.subsections) }}
{% if section.description %}
    <p>{{ section.description }}</p>
{% endif %}
{{ section.content | safe }}

{% for page in section.pages %}
    {{ macros::preview_page(page=page, show_cat=false) }}
{% endfor %}
{% endblock content %}
