{% extends "base.html" %}

{% block head %}
<title>{{ section.title }} - {{ config.title }}</title>
{% if section.description %}
    <description>{{ section.description }}</description>
{% endif %}
{% endblock head %}

{% block before_content %}
{{ macros::header(list=config.extra.header_sections) }}
{% endblock before_content %}

{% block content %}
<h1 class="main-title">{{ section.title }}</h1>

<div class="box-list" style="margin: 20px 0;">
    {{ macros::color_list(list=section.subsections) }}
</div>

{% if section.description %}
    <p>{{ section.description }}</p>
{% endif %}
{{ section.content | safe }}

{% for page in section.pages %}
    {{ macros::preview_page(page=page, show_cat=false) }}
{% endfor %}
{% endblock content %}
