html, body {
    height: 100%;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: fit-content;
}

#not-found {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#not-found h2 {
    margin: 0 0 10px 0;
}

@media screen and (max-height: 500px) {
    footer {
        top: 400px;
    }

    #not-found {
        top: 300px;
    }
}

@media only screen
and (max-device-width: 600px) {
    #not-found h1 {
        font-size: 80px;
    }

    #not-found h2 {
        font-size: 40px;
    }
}

@media only screen
and (min-device-width: 600px)
and (max-device-width: 1100px),

only screen
and (min-device-width: 1100px)
and (max-width: 1100px) {
    #not-found h1 {
        font-size: 60px;
    }

    #not-found h2 {
        font-size: 30px;
    }
}

@media only screen
and (min-device-width: 1100px)
and (min-width: 1100px) {
    #not-found h1 {
        font-size: 70px;
    }

    #not-found h2 {
        font-size: 30px;
    }
}
