@import "config.css";

html, body {
    color: var(--font-color);
    background-color: var(--background-color);
    font-family: var(--content-font);
    overflow-x: hidden;
    margin: 0;
}
@media screen and (max-width: 1150px) {
    .content {
        margin: 0 5% 0 5%;
    }
}
@media screen and (min-width: 1150px) {
    .content {
        margin: 0 30% 0 10%;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font);
    margin: 30px 0 0 0;
    color: var(--title-color);
}
.main-title {
    font-size: var(--main-title-size);
}
.details {
    margin-top: 0;
    font-size: var(--details-size);
}

p, li {
    text-align: justify;
    font-size: var(--content-size);
}
a {
    color: var(--link-color);
    text-decoration: none;
}
a:hover {
    color: var(--link-hover-color);
}

strong {
    color: var(--bold-color);
}
p code {
    background-color: var(--code-background-color);
    border-radius: 5px;
    padding: 0 2px 0 2px;
}
blockquote {
    background-color: var(--blockquote-background-color);
    border-radius: 7px;
    padding: 20px;
    border-left: 2px solid var(--border-color);
    text-indent: var(--indent);
}

img {
    /*
        TODO: Make this variable depending on the image:
        Creating a zola's shortcode to generate a img given a width
    */
    width: 50vw;
    padding: 10px;
    border: 5px solid var(--border-color);
    margin: 15px 0 15px 50%;
    transform: translate(-50%, 0%);
    object-fit: scale-down; /* or cover */
}

footer {
    margin-top: 50px;
    padding: 1px 10vw 10px 10vw;
    color: var(--footer-font-color);
    background-color: var(--footer-background-color);
    text-align: center;
}
#copyright {
    margin-top: 0;
    text-align: center;
}

.box-list {
    text-align: center;
    margin: 20px 0 20px 0;
}
.box-list a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 0 2.5px 0 2.5px;
    width: 40px;
    height: 16px;
}
.box-list a:hover {
    opacity: 0.7;
}
