@import "config.css";

html, body {
    color: var(--font-color);
    background-color: var(--background-color);
    font-family: var(--content-font);
    overflow-x: hidden;
    margin: 0;
}
@media screen and (max-width: 1150px) {
    .content {
        margin: 0 5% 0 5%;
    }
}
@media screen and (min-width: 1150px) {
    .content {
        margin: 0 30% 0 10%;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font);
    color: var(--title-color);
    margin: 30px 0 0 0;
}
.main-title {
    font-size: var(--main-title-size);
}
.details {
    font-size: var(--details-size);
    margin-top: 0;
}

p, li {
    font-size: var(--content-size);
    text-align: justify;
}
a {
    color: var(--link-color);
    text-decoration: none;
}
a:hover {
    color: var(--link-hover-color);
}

strong {
    color: var(--bold-color);
}
p code {
    background-color: var(--code-background-color);
    border-radius: 5px;
    padding: 0 2px 0 2px;
}
blockquote {
    background-color: var(--blockquote-background-color);
    border-radius: 7px;
    padding: 20px;
    border-left: 2px solid var(--border-color);
}

img {
    /*
        TODO: Make this variable depending on the image:
        Creating a zola's shortcode to generate a img given a width
    */
    width: 50vw;
    padding: 10px;
    border: 5px solid var(--border-color);
    margin: 15px 0 15px 50%;
    transform: translate(-50%, 0%);
    object-fit: scale-down; /* or cover */
}

.post {
    border-bottom: 2px solid var(--border-color);
}
@media screen and (min-width: 600px) {
    .post {
        margin: 0 10% 0 10%;
    }
}
.date {
    margin: 0;
    font-size: 14px;
}

header {
    background-color: var(--footer-background-color);
    padding: 5px 0 5px 0;
}
header img {
    margin: 0;
    border-radius: 100%;
    width: 50px;
    transform: none;
}
header img:hover {
    transform: scale(1.03, 1.03);
}

.box-list {
    text-align: center;
}
header.box-list {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.box-list a {
    vertical-align: middle;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 2.5px;
    min-width: 40px;
}
.box-list a:hover {
    opacity: 0.7;
}

footer {
    background-color: var(--footer-background-color);
    color: var(--footer-font-color);
    text-align: center;
    margin-top: 50px;
    padding: 1px 10vw 10px 10vw;
}
#copyright {
    text-align: center;
    margin-top: 0;
}
