/**** General config ****/
:root {
    /* Color palette */
    --magno-red:    #f05; /* Separators */
    --magno-green:  #0f5; /* hx, bold, borders */
    --magno-yellow: #fe0; /* Hover light effect */
    --magno-blue:   #0ef; /* Links */
    --magno-purple: #a0f; /* Hover link */
    --magno-orange: #f60; /* Bold */

    /* Fonts */
    --title-font:   "Audiowide", serif;
    --content-font: "Ubuntu", sans-serif;
    --italics-font: "Arvo", serif;
    --code-font:    "Fira Code", monospace;

    /* Colors */
    --background-color:  #222;
    --font-color:        #aaa; /* #aba */
    --title-color:       #0f5; /* #8f8 */
    --bold-color:        #f60; /* #afa */
    --link-color:        #0ef; /* #0ce */
    --link-hover-color:  #a0f; /* #05f */
    --code-color:        #000;
    --block-color:       #000;
    --border-color:      #0f5; /* #afa */
    --hover-color:       #fe1; /* #fe1 */
    --separator-color:   #f05;
    --box-list-color:    #fff;
    --link-button-color: #000;

    /* General common */
    --border-radius: 10px;
    --transition:    0.25s;
    --h-separation:  3rem 0 1rem 0;
    --p-separation:  0 0 1rem 0;
    --block-padding: 1rem;

    /* Header - Footer */
    --hf-background-color: #111;
    --hf-font-color: #fff;

    /* Index */
    --project-background-color: #111;
    --project-shadow-color:     #303030;

    /* Table */
    --table-header: #000;
    --table-color-1: #444;
    --table-color-2: #333;
    --table-header-border: 0.3rem solid #fff;
}


/**** General ****/
html, body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: var(--content-font);
    margin: 0;
    overflow-x: hidden;
}

main {
    margin: 0 3vw;
    max-width: 100ch;
    min-height: 75vh;
}

/* "Fix" big LaTeX expressions */
span.katex-display { overflow: scroll; }

/* Margin desktop */
@media only screen and (min-width: 800px) and (min-device-width: 800px) {
    main { margin: 0 20vw; }
    span.katex-display { overflow: visible; }
}


/**** Titles ****/
.main-title {
    margin: var(--h-separation);
    margin-bottom: 0;
    font-size: 3rem;
}

.page-stats {
    color: var(--magno-red);
    margin-top: 0;
}

/* Wrap by the spans */
.page-stats span { white-space: nowrap; }

h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
    font-family: var(--title-font);
    margin: var(--h-separation);
}

article h1 {
    font-size: 2em;
    font-variant: small-caps;
}

h1+h2, h2+h3, h3+h4 { margin-top: 0; }


/**** General format ****/
a       { color: var(--link-color); text-decoration: none; }
a:hover { color: var(--link-hover-color); }
strong  { color: var(--bold-color); }

em {
    font-family: var(--italics-font);
    font-size: 0.95rem;
    text-decoration: none;
}
h1 em, h2 em, h3 em, h4 em, h5 em { font-size: inherit; }

p, li, .block-content {
    text-align: justify;
    line-height: 2.7ch;
}

p { margin: var(--p-separation); }
li p { margin: 1rem 0 0 0; }
li::marker { color: var(--magno-green); }

hr {
    width: 60%;
    margin: var(--p-separation);
    color: var(--separator-color);
}


/**** Code ****/
/* All code */
pre, code {
    font-family: var(--code-font);
    text-align: left;
}

/* Inline code: `` */
code:not(.highlight pre code) {
    background-color: var(--code-color);
    border-radius: var(--border-radius);
    padding: 0 4px;
    font-size: inherit;
}

/* Code block: ``` */
.highlight pre {
    font-size: 0.9rem;
    border-radius: var(--border-radius);
    margin: var(--p-separation);
    padding: var(--block-padding);
    white-space: pre-wrap;
}


/**** Quotes ****/
blockquote {
    background-color: var(--block-color);
    padding: var(--block-padding);
    border-radius: var(--border-radius);
    border-left: 4px solid var(--border-color);
}

blockquote p { margin: 0; text-align: left; }


/**** Change background when it's already black ****/
blockquote code,
blockquote blockquote,
.project code,
.project blockquote,
.block code,
.block blockquote,
.dropdown code,
.dropdown blockquote,
#TableOfContents code
{ background-color: var(--background-color) !important; }


/**** Images ****/
img, svg {
    object-fit: contain;
    /*
     * Center by adding margin to the left (minus the
     * main margin) and then translate
     */
    margin: 1rem 0 1rem 50%;
    transform: translate(-50%, 0);
}

/* Make diagrams bigger */
.goat svg { min-width: 70%; }

img          { width: 85vmin; }
figcaption p { text-align: center; }

figcaption p:before {
    content: "Figura: ";
    color: var(--title-color);
    font-weight: bold;
}


/**** Table ****/
table {
    margin: var(--p-separation);
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-color);
}

table.fill { width: 100%; }

th {
    background-color: var(--table-header);
    border-bottom: var(--table-header-border);
}

th, td { padding: var(--block-padding); }
tr { background-color: var(--table-color-2); }


/**** Blocks ****/
.block {
    display: grid;
    background-color: var(--block-color);
    border-radius: var(--border-radius);
    margin: var(--p-separation);
}

.block .block-name {
    grid-row-start: 1;
    padding: var(--block-padding);
    background-color: var(--border-color);
    color: black;
    /* Centering */
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.block .block-content {
    grid-row-start: 2;
    padding: var(--block-padding);
}

/* Put side by side in Desktop  */
@media only screen and (min-width: 1000px) and (min-device-width: 1000px) {
    .block { grid-template-columns: auto 1fr auto; }
    .block .block-name { max-width: 15ch; text-align: center; }
    .block .block-content { grid-row-start: 1; }
}


/**** Dropdowns ****/
.dropdown {
    background-color: var(--block-color);
    padding: var(--block-padding);
    border-radius: var(--border-radius);
    margin: var(--p-separation);
    transition: transform 5s;
}

.dropdown .show       { cursor: pointer; }
.dropdown .show:hover { opacity: 0.7; }
.dropdown .show:before {
    content: ">> ";
    font-family: var(--code-font);
    color: var(--title-color);
}

.dropdown .content {
    margin-top: 1rem;
    animation-name: show;
    animation-duration: 1s;
}

@keyframes show {
  from { opacity: 0%; }
  to   { opacity: 100% }
}

/**** Other elements **************************************/

/**** Blog entries ****/
.blog-entry {
    margin: 1rem 0;
    padding: var(--block-padding);
    border-bottom: 3.5px solid var(--border-color);
}

.blog-entry h2 { margin: 0; }
.blog-entry h3 { margin: 0; } /* Date */


/**** Box list ****/
.box-list {
    text-align: center;
    margin: 0.1rem;
    padding: 0.35rem;
}

.box-list a {
    transition: var(--transition);
    color: var(--box-list-color);
    margin: 0.2rem;
    border-radius: var(--border-radius);
    padding: 0.65rem;
    min-width: 2rem;
}

.box-list a:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px var(--hover-color);
}


/**** Link Button ****/
.link-button {
    color: var(--box-list-color);
    background-color: var(--link-button-color);

    margin: 1rem auto 2rem auto;
    padding: 1rem 3rem;
    border: 3px solid var(--magno-green);
    border-radius: var(--border-radius);
    max-width: 7rem;

    transition: var(--transition);

    /* Centering */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.link-button:hover {
    color: var(--box-list-color);
    transform: scale(1.03, 1.03);
    box-shadow: 0 0 10px var(--hover-color);
}


/**** Prev & Next ****/
.prev-next {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media only screen and (min-width: 800px) and (min-device-width: 800px) {
    .prev-next { flex-wrap: nowrap; }
}

.prev-next a {
    color: white;
    min-width: 30%;
    margin: 0.5rem 1rem;
    padding: 0.5rem 1rem;
    border: none;
}


/**** TOC ****/
#TableOfContents {
    background-color: var(--block-color);
    border-radius: var(--border-radius);
    margin: var(--p-separation);
    padding: var(--block-padding);
    word-wrap: break-word;
}


/**** Section navigation ****/
nav:not(#TableOfContents) {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    background-color: var(--hf-background-color);
    overflow-x: scroll;
    margin: var(--p-separation);
}

nav:not(#TableOfContents) a {
    padding: var(--block-padding);
}

nav:not(#TableOfContents) a:hover {
    background-color: var(--magno-blue);
}

/**** Header ****/
#header-trigger {
    position: fixed;
    transform: translateX(-50%);
}

#header-trigger img {
    width: 2rem;
    margin: 0;
    transform: translateX(70%);
}

header {
    background-color: var(--hf-background-color);

    position: fixed;
    height: 100vh;
    transition: transform 0.5s;

    display: flex;
    flex-direction: column;
    padding: 1rem;
    z-index: 1;

    overflow-y: scroll;
}

header div {
    display: flex;
    flex-direction: column;
    text-indent: 2rem;
}

header a {
    padding: 1rem;
    color: white;
}

header a:hover:not(#home-link) {
    background-color: var(--magno-red);
    color: white;
}

header a:not(#home-link):before {
    content: ">> ";
    font-family: var(--code-font);
    color: var(--title-color);
}

header #home-link {
    align-self: center;
}

header img {
    max-width: 5rem;
    margin: 1rem auto;
    transform: none;
    border-radius: 100%;
    border: 2px solid var(--magno-green);
    transition: transform 0.5s;
}

header img:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 0 0 10px var(--hover-color);
}


/**** Footer ****/
footer {
    background-color: var(--hf-background-color);
    color: var(--hf-font-color);
    text-align: center;
    margin-top: 2rem;
    padding: 2rem 0;
    width: 100vw;
}

footer p, footer h1, footer h2, footer h3 { margin: 0; text-align: center; }

