:root {
    /* Base */
    --background-color: #222;

    --font-color: #aaa; /* #aba */
    --title-color: #8f8;
    --link-color: #0ce;
    --link-hover-color: #05f;
    --bold-color: #afa;
    --code-background-color: #000;
    --blockquote-background-color: #000;
    --border-color: #afa;
    --hf-background-color: #000;
    --hf-font-color: #fff;
    --box-list-color: #fff;

    --content-font: "Ubuntu", sans-serif;
    --title-font: "Audiowide";

    /* Index */
    --presentation-background-color: #0009;
    --project-background-color: #000;
    --project-hover-background-color: #111;

    /* Post */
    --info-background: #000;
    --table-header: #000;
    --table-color-1: #444;
    --table-color-2: #333;
}
