:root {
    --background-color: #222;

    --content-font: "Ubuntu", sans-serif;
    --title-font: "Audiowide";

    --title-color: #8f8;
    --main-title-size: 5rem;
    --details-size: 1rem;
    --content-size: 14px;

    --font-color: #aaa; /* #aba */
    --link-color: #0ce;
    --link-hover-color: #05f;
    --link-visited-color: #f0f;
    --bold-color: #afa;
    --code-background-color: #000;

    --border-color: #afa;
    --footer-background-color: #000;
    --footer-font-color: #fff;

    --presentation-background-color: #0009;
    --logo-min-width: 100px;
    --blog-title-size: 3rem;

    --proyect-background-color: #000;
    --proyect-hover-background-color: #111;
}
