/* Presentation */
#start { width: 50vw; }

#blog-logo {
    padding: 0.1rem;
    border: 5px solid var(--border-color);
    width: 30%;
    min-width: 6rem;
}

#blog-title       { font-size: 2rem; }
#blog-description { font-size: 0.9rem; }

/* About */
#about-img { width: 25vmin; min-width: 7rem; }

/* Porfolio */
.project     { padding: 1rem; }
.project img { width: 80%; }
