/* Not necesary because it is imported on the base.css */
/* @import "config.css"; */

/*
===========================================================
    Common style
===========================================================
*/

h1 {
    text-align: center;
}

/* Presentation */
canvas {
    height: 100vh;
    width: 100vw;
}

#start {
    background-image: radial-gradient(circle at 50% 70%, #000f 30%, #0000 70%);
    text-align: center;
    /* Barely noticeable */
    padding: 20px;
    /* Position */
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    /* Animation */
    animation: intro 1.5s ease-out;
}

@keyframes intro {
    from { opacity: 0;    top: 10vh; }
    to   { opacity: 100%; top: 50vh; }
}

@media only screen and (max-height: 400px) {
    canvas {
        height: 400px;
    }

    #start {
        top: 40px;
        transform: translate(-50%, 0);
    }
}

@keyframes floating {
    from { transform: translateY(15px); }
    to { transform: translateY(0); }
}

#blog-logo {
    border-radius: 100%;
    animation: floating 1s infinite alternate;
    /* Reset centering */
    margin: 0;
    transform: none;
}

.project {
    background-color: var(--project-background-color);
    flex-grow: 1;
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s
}

.project:hover {
    background-color: var(--project-hover-background-color);
    transform: scale(1.03, 1.03);
    box-shadow: 5px 5px 10px #000;
}

.project p {
    /* Show as text, not as a link */
    color: var(--font-color);
}

#blog .box-list {
    overflow-x: clip;
}

/*
===========================================================
    Sizes for specific devices
===========================================================
*/
/* Smaal devices - portrait */
@media only screen
and (max-device-width: 600px) {
    h1 {
        font-size: 70px;
        margin: 50px 0 40px 0 !important;
    }

    /* Presentation */
    #start {
        width: 80vw;
    }

    #blog-logo {
        padding: 15px;
        border: 10px solid var(--border-color);
        width: 170px;
    }

    #blog-title {
        font-size: 80px;
    }

    #blog-description {
        font-size: 35px;
    }

    /* About */
    #about-img {
        width: 25vmin;
        margin: 0 0 40px 50%;
    }

    /* Porfolio */
    .project {
        padding: 1px 30px 1px 30px;
    }
}

/* Medium size devices and small space in Desktop */
@media only screen
and (min-device-width: 600px)
and (max-device-width: 1100px),

only screen
and (min-device-width: 1100px)
and (max-width: 1100px) {
    h1 {
        font-size: 45px;
        margin: 50px 0 30px 0 !important;
    }

    /* Presentation */
    #start {
        width: 65vw;
    }

    #blog-logo {
        padding: 10px;
        border: 5px solid var(--border-color);
        width: 110px;
    }

    #blog-title {
        font-size: 45px;
    }

    #blog-description {
        font-size: 17px;
    }

    /* About */
    #about-img {
        width: 20vmin;
        margin: 0 0 30px 50%;
    }

    /* Porfolio */
    .project h3 {
        margin: 15px 0 0 0;
    }
}

/* Desktops with lots of space */
@media only screen
and (min-device-width: 1100px)
and (min-width: 1100px) {
    h1 {
        font-size: 40px;
        margin: 40px 0 20px 0 !important;
    }

    /* Presentation */
    #start {
        width: 40vw;
    }

    #blog-logo {
        padding: 6px;
        border: 4px solid var(--border-color);
        width: 100px;
    }

    #blog-title {
        font-size: 35px;
    }

    /* About */
    #about {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    #about-img {
        width: 20vmin;
        margin: 0 20px 0 0;
        transform: none;
    }

    /* Porfolio */
    #portfolio {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .project {
        padding: 1px 30px 1px 30px;
        width: 250px;
    }

    /* Blog */
    #blog .box-list {
        margin-top: 30px;
    }
}
