/* Animation */
canvas {
    height: 100vh;
    width: 100vw;
}
#start {
    position: absolute;
    text-align: center;
    top: 50vh;
    left: 50vw;
    width: max-content;
    transform: translate(-50%, -50%);
}

@media screen and (max-height: 400px) {
    canvas {
        height: 400px;
    }
    #start {
        top: 40px;
        transform: translate(-50%, 0);
    }
}

/* Title */
#blog-logo {
    border-radius: 100%;
    width: 25vw;
    margin: 0;
    transform: none;
}
#blog-title {
    font-size: 2rem;
}
#blog-description {
    text-align: center;
}

/* Content - About */
#about {
    display: flex;
    justify-content: space-between;
}
#about-img {
    flex-grow: 0;
    width: 10vw;
    object-fit: scale-down; /* or cover */
    margin: 0 20px 0 0;
    transform: none;
}
#about-text {
    flex-grow: 2;
}

/* Portfolio */
#portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}
.proyect {
    flex-grow: 1;
    background-color: orange;
    margin: 0 20px 20px 0;
    border-radius: 10px;
    padding: 10px;
    width: 250px;
}
.proyect:hover {
    background-color: red;
    transform: scale(1.03, 1.03);
}

/* Blog */
#blog {
    display: grid;
}
#recent-title {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    margin: 0;
}
#categories-title {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    margin: 0 0 0 20px;
}
#recent {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    margin-right: 20px;
}
#categories {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    border-left: 2px solid white;
    padding-left: 20px;
}
#recent h3, #categories h3 {
    margin-top: 0;
}
