/*
===========================================================
    Common style
===========================================================
*/
h1 { font-size: 24px; }
h2 { font-size: 20px; }
h3 { font-size: 16px; }

.details {
    font-size: 15px;
    margin: 0 !important;
}

ul, ol {
    margin-top: 0;
}

ul p, ol p {
    margin: 0;
    text-indent: 0;
}

pre code {
    background-color: inherit;
    border-radius: 0;
    padding: 0;
}

pre {
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    white-space: pre-wrap;
    text-align: left;
}

blockquote {
    background-color: var(--blockquote-background-color);
}

blockquote p {
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
}

th, td {
    vertical-align: center;
    padding: 7px;
}

th {
    background-color: black;
    border-bottom: 5px solid white;
    border-top: none;
}

tr:nth-child(even) {
    background-color: red;
}

tr:nth-child(odd) {
    background-color: green;
}

th:first-of-type {
    border-top-left-radius: 10px;
}

th:last-of-type {
    border-top-right-radius: 10px;
}

tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
}

tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
}

/*
===========================================================
    Sizes for specific devices
===========================================================
*/
/* Small devices - portrait */
@media only screen
and (max-device-width: 600px) {
    pre {
        padding: 20px;
    }

    blockquote {
        border-left: 5px solid var(--border-color);
        border-radius: 10px;
        padding: 40px;
    }
}

/* Medium size devices and small space in Desktop */
@media only screen
and (min-device-width: 600px)
and (max-device-width: 1100px),

only screen
and (min-device-width: 1100px)
and (max-width: 1100px) {
    pre {
        padding: 15px; /* = desktop */
    }

    blockquote {
        border-left: 4px solid var(--border-color);
        border-radius: 8px; /* = desktop */
        padding: 30px; /* = desktop */
    }


}
/* Desktops with lots of space */
@media only screen
and (min-device-width: 1100px)
and (min-width: 1100px) {
    pre {
        padding: 15px;
    }

    blockquote {
        border-left: 3.5px solid var(--border-color);
        border-radius: 8px;
        padding: 30px;
    }
}
