<!-- Use Regex to fetch the keys, values and level -->
{{ $keys   := findRE `(-%)[\W\w]*?(:%|\z)` .Inner }}
{{ $values := findRE `(:%)[\W\w]*?(-%|\z)` .Inner }}

<table class="keyvalue">
<!-- TODO?: añadir más niveles de profundidad -->

<!-- Optional Header -->
{{ with .Get "title" }}
    <tr>
        <th colspan="2">{{ . | markdownify }}</th>
    <tr>
{{ else }}
    {{ if and (.Get "key") (.Get "value") }}
        <tr>
            <th>{{ .Get "key"   | markdownify }}</th>
            <th>{{ .Get "value" | markdownify }}</th>
        <tr>
    {{ end }}
{{ end }}

<!-- Go through all the values -->
{{ range $i := seq 0 (len $values) }}
    {{ $key   := replaceRE `(\s*-%\s*|\s*:%\s*)` "" (index $keys $i) }}
    {{ $value := replaceRE `(\s*-%\s*|\s*:%\s*)` "" (index $values $i) }}
    {{/* $key   := trim (index $keys   $i) "-:% \t\n" */}}
    {{/* $value := trim (index $values $i) "-:% \t\n" */}}

    <tr>
        {{ with $key   }}<td>{{ . | markdownify }}</td>{{ end }}
        {{ with $value }}<td>{{ . | markdownify }}</td>{{ end }}
    </tr>
{{ end }}
</table>


