{{/* This will be evaluated later as Markdown by keyvalue, so no indentation */}}
{{ if or (eq .Parent nil) (not (eq .Parent.Name "keyvalue")) }}
{{ errorf "%s not used inside keyvalue shortcode. Location: %s" .Name .Position }}
{{ end }}
<tr>
{{ if .Get "title" }}
<th colspan="2">{{ .Get "title" | .Page.RenderString }}</th>
{{ else }}
{{ if and (.Get "key") (.Get "value") }}
<th>{{ .Get "key" | .Page.RenderString }}</th>
<th>{{ .Get "value" | .Page.RenderString }}</th>
{{ else }}
{{ errorf "Missing %s parameters: key and value, or title. Location: %s" .Name .Position }}
{{ end }}
{{ end }}
</tr>
